export APP_ENVIRONMENT=development
export GIT_ACCESS_TOKEN=
export GIT_TESTING_TOKEN=
export GIT_TESTING_USER=
export GIT_TESTING_REPOSITORY=
export GIT_SERVICE_PORT=3000
export GIT_SERVICE_HOST=http://localhost:3000
export GIT_SERVICE_DOMAIN=https://a64d8e1c.ngrok.io
export VUE_APP_GIT_SERVICE_HOST=http://localhost:3000
export WEBAPP_SERVICE_PORT=8080
export DB_USER=root
export DB_PASSWORD=password
