export APP_ENVIRONMENT=development
export GIT_ACCESS_TOKEN=8aa4c25856d52a87c8d90d58ade7a4d3deccd346
export GIT_SERVICE_PORT=3000
export GIT_SERVICE_HOST=http://localhost:3000
export GIT_SERVICE_DOMAIN=https://e191c3b7.ngrok.io
export WEBAPP_SERVICE_PORT=8080
export DB_USER=prisma
export DB_PASSWORD=prisma
export GITHUB_OAUTH_CLIENT_ID=
export GITHUB_OAUTH_SECRET=