/bin/
/node_modules/
.envrc
.DS_Store
services/webapp-service/.env
.env
yarn-error.log
*gource*

node_modules/
dist/
coverage/
common/github/github.schema.public.graphql
common/generated/**/*
nest-app/schema.json
nest-app/schema/schema.graphql